.venv/
__pycache__/
*.pyc
data/raw/*
data/interim/*
data/outputs/*
!data/**/.gitkeep
*.tif
*.tiff
*.SAFE/
*.zip
checkpoints/*
!checkpoints/best.pt
!checkpoints/history.json
.DS_Store
.ipynb_checkpoints/*
!checkpoints/best.pt
!checkpoints/history.json
models/
!docs/*.pdf
data/raw/jp2_test/
*copy*.pdf
checkpoints_multi/
data/raw/jp2_test/
