.venv/
__pycache__/
*.pyc
data/raw/*
data/interim/*
data/outputs/*
!data/**/.gitkeep
*.tif
*.tiff
*.SAFE/
*.zip
checkpoints/
.DS_Store
.ipynb_checkpoints/
models/
!docs/*.pdf
data/raw/jp2_test/
*copy*.pdf
checkpoints_multi/
data/raw/jp2_test/
